{% extends 'block.html.twig' %}
{#
/**
 * @file
 * Template for the Kura branding block (kura_branding_block plugin).
 *
 * Available variables:
 * - site_logo: URI of the dark or light logo SVG, set by ThemeHooks::preprocessBlock().
 * - site_name: Site name from system configuration.
 * - site_slogan: Site slogan from system configuration.
 */
#}

{% block content %}
  <a href="{{ home_url|default('/') }}" class="flex items-center gap-3" rel="home">
    {% block branding %}
      {% if site_logo %}
        <img class="h-10 w-10 shrink-0 object-contain" src="{{ site_logo }}" alt="" />
      {% endif %}
      {% if site_name or site_slogan %}
        <div class="flex flex-col leading-tight">
          {% if site_name %}
            <span class="text-base font-semibold">{{ site_name }}</span>
          {% endif %}
          {% if site_slogan %}
            <span class="text-[10px] uppercase tracking-[0.2em] text-muted-foreground">{{ site_slogan }}</span>
          {% endif %}
        </div>
      {% endif %}
    {% endblock %}
  </a>
{% endblock %}
